# {{ ansible_managed }}
COMPOSE_PROJECT_NAME={{ compose_project_name }}
HTTP_PORT={{ http_port }}
HTTPS_PORT={{ https_port }}
MARIADB_IMAGE={{ mariadb_image }}
MARIADB_DATABASE={{ mariadb_database }}
NGINX_IMAGE={{ nginx_image }}
